*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin-left: 400px;
    display: inline-block;   
}

.nav {
    
    background-color: rgb(175, 171, 171);
    width: 580px;
    justify-content: space-evenly;
}
.nav-row {
    display: flex;
    align-items: center;
    height: 40px;
    
}
.nav-title {
   
    margin-left:20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
.nav-links {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-links a {
    display: flex;
    display: inline;
    color: white;

    justify-content: space-between;
}
.btn1 {
    text-decoration-color: white;
    background-color: white;
    width: 300px;
}
.btn2 {
    
    box-shadow: rgb(3, 10, 11);
    text-decoration-color: white;
    background-color: rgb(38, 98, 216);
    
}

/*content section*/
.content {
    width: 900px;
    margin: 0 auto;
    display: flex;
    display: inline-flex;
    
   
}

.center-row {
    display: flex;
    display: inline;
    display: inline-flex;
       
}

.col-1, .col-2 {
   
    display: inline-block;
    display: flex;
   display: inline-flex;
    

}

.col-1 {
    width: 400px;
    display: flex;
    display: inline-block;
    margin-left: 20px;

}
.box1 {
    width: 350px;
   margin-top: 40px;
    border: 2px solid rgb(202, 191, 191);
    display: flex;
    display: inline-block;
    display: inline-flex;
  
}

.card-body1 {
    margin-top: 20px;
}
.card-body1 h1,
.card-body1 h2,
.card-body1 h3,
.card-body1 h4
 {
   margin-left: 20px;
    margin-top: 40px 0;
       
}
.center {
   
    display: contents;
    display: flex;
    flex-direction: row;
    display: inline-block;margin: 50px 30px;
      
}

.btn3 {
    width: fit-content;
    text-decoration-color: white;
    background-color: white;
    list-style: none;
}

.box2 {
    width: 350px;
   margin-top: 40px;
    border: 2px solid rgb(202, 191, 191);
    display: flex;
    display: inline-block;
    display: inline-flex;
   justify-content: center;

}

.card-body2 {
    margin-top: 20px;
}
.card-body2 h1,
.card-body2 h2,
.card-body2 h3,
.card-body2 h4
 {
   margin-left: 20px;
    margin-top: 40px 0;
       
}
.center {
   
    display: contents;
    display: flex;
    flex-direction: row;
    display: inline-block;margin: 50px 30px;
      
}

.btn3 {
    width: fit-content;
    text-decoration-color: white;
    background-color: white;
    list-style: none;
}

.col-2 {
    width: 400px;
    margin-top: 40px;
   
    display: flex;
    display: inline-block;
   
    display: inline-flex;

}
.box3 {
    width: 160px;
    height: 120px;
    border: 2px solid rgb(202, 191, 191);
    display: flex;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
   
}

.card-body3 {
    margin-top: 20px;
}
.card-body3 h1,

.card-body3 h4
 {
   margin-left: 20px;
    margin-top: 40px 0;
      
}

.card-body3 h1 {
    font-size: medium;
    padding: 10px;
                        
}
.center {
   
    display: contents;
    display: flex;
    flex-direction: row;
    display: inline-block;margin: 50px 30px;   
    
}

.btn3 {
    width: fit-content;
    text-decoration-color: white;
    background-color: rgb(218, 194, 33);
    list-style: none;
    box-shadow: 2px 2px black;

}

.btn4 {
    width: fit-content;
    text-decoration-color: white;
    background-color: rgb(19, 159, 84);
    list-style: none;
    box-shadow: 2px 2px black;
    margin-left: 10px;
}